<ngx-mat-color-picker
  #backgroundColor
  [touchUi]="true">
</ngx-mat-color-picker>
<mat-card>
  <mat-card-header>
    <mat-card-title>General</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="form">
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Background</mat-label>
        <input
          matInput
          [ngxMatColorPicker]="backgroundColor"
          formControlName="background">
        <ngx-mat-color-toggle matSuffix [for]="backgroundColor">
        </ngx-mat-color-toggle>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-content *ngIf="!form">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-content>
</mat-card>
