<ngx-mat-color-picker
  #backgroundColor
  [touchUi]="true">
</ngx-mat-color-picker>

<ngx-mat-color-picker
  #textOnBackgroundColor
  [touchUi]="true">
</ngx-mat-color-picker>

<mat-card [ngStyle]="{'border-left': '4px solid ' + paint.background.rgba}">
  <form [formGroup]="form">
    <mat-card-content>
      <div fxLayout="row">
        <mat-form-field fxFlex="1 1">
          <mat-label>Name</mat-label>
          <input matInput floatLabel="never" formControlName="name">
          <mat-error *ngIf="name.errors && name.errors.required">
            Name is required
          </mat-error>
        </mat-form-field>
      </div>
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap="24px"
        fxLayoutGap.xs="0">
        <mat-form-field fxFlex="1 1">
          <mat-label>Background</mat-label>
          <input
            matInput
            [ngxMatColorPicker]="backgroundColor"
            formControlName="background">
          <ngx-mat-color-toggle matSuffix [for]="backgroundColor">
          </ngx-mat-color-toggle>
          <mat-error *ngIf="background.errors && background.errors.invalidColor">
            Background is an invalid color
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="1 1">
          <mat-label>Text on Background</mat-label>
          <input
            matInput
            [ngxMatColorPicker]="textOnBackgroundColor"
            formControlName="textOnBackground">
          <ngx-mat-color-toggle matSuffix [for]="textOnBackgroundColor">
          </ngx-mat-color-toggle>
          <mat-error *ngIf="textOnBackground.errors && textOnBackground.errors.invalidColor">
            Background is an invalid color
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
  </form>
  <mat-card-actions fxLayoutAlign="end">
    <button
      mat-button
      (click)="remove()"
      color="warn">Remove</button>
  </mat-card-actions>
</mat-card>