<div *ngIf="(palette$ | async) as palette; else loading">
  <mat-card
    class="preview-container"
    [ngStyle]="{'background': palette.general.background.background.rgba, 'color': palette.general.background.text.rgba}">
    <mat-card-content>
      <mat-toolbar
        [ngStyle]="{'background': palette.general.primary.background.rgba, 'color': palette.general.primary.text.rgba}">
        <span>Preview</span>
      </mat-toolbar>
      <div class="preview-content">
        <mat-card
          [ngStyle]="{'background': palette.general.surface.background.rgba, 'color': palette.general.surface.text.rgba}">
          <mat-card-header>
            <mat-card-title>Surface</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="end">
            <button
              mat-raised-button
              [ngStyle]="{'background': palette.general.warn.background.rgba, 'color': palette.general.warn.text.rgba}">
              Cancel
            </button>
            <button
              mat-raised-button
              [ngStyle]="{'background': palette.general.secondary.background.rgba, 'color': palette.general.secondary.text.rgba}">
              OK
            </button>
          </mat-card-actions>
        </mat-card>
        <mat-chip-list aria-label="Additional paint preview">
          <mat-chip
            *ngFor="let paint of palette.additionalPaint"
            [ngStyle]="{'background': paint.background.rgba, 'color': paint.text.rgba}">
          {{ paint.name }}
          </mat-chip>
        </mat-chip-list>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
