@import '~@angular/material/theming';

@include mat-core();

$app-light-primary: mat-palette($mat-light-green, 500);
$app-light-accent: mat-palette($mat-brown, 500, 400, 700);
$app-light-warn: mat-palette($mat-red, 500);
$app-light-theme: mat-light-theme((
  color: (
    primary: $app-light-primary,
    accent: $app-light-accent,
    warn: $app-light-warn,
  )
));

@include angular-material-theme($app-light-theme);
