<div fxLayout="row" fxLayoutAlign="space-between center" class="section-header">
  <h1>Additional paint</h1>
  <button
    mat-mini-fab
    color="accent"
    aria-label="Add additional paint"
    (click)="add()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div *ngIf="(palette$ | async) as palette; else loading">
  <app-palette-design-additional-paint-paint
    *ngFor="let paint of palette.additionalPaint; index as idx; trackBy: identify"
    [paint]="paint"
    (removed)="remove(idx)"
    (updated)="update(idx, $event)">
  </app-palette-design-additional-paint-paint>
</div>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
